<!-- <table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>TITLE</th>
      <th>BODY</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of datablock">
      <td>{{d.id}}</td>
      <td>{{d.title}}</td>
      <td>{{d.body}}</td>
    </tr>
  </tbody>
</table> -->
<div class="panel panel-primary" [hidden]='false'>
  <div class="panel-heading">Panel with panel-primary class</div>
  <div class="panel-body">Panel Content</div>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>CITY</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of dataarray">
      <td>{{d.id}}</td>
      <td>{{d.name}}</td>
      <td>{{d.city}}</td>
    </tr>
  </tbody>
</table>
